:root {
  --primary-text-color: #757575;
  --title-trxt-color: #212121;
  --accent-color: #2196f3;
}

.hero__button,
.form__button {
  padding: 10px 32px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.block-form .button {
  padding: 10px 28px;
  margin-left: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

:root {
  --primary-text-color: #757575;
  --title-trxt-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-trxt-color);
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding: 0 15px;
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

*:focus {
  outline: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #000000;
}

.footer .logo {
  color: #ffffff;
}

.logo--accent {
  color: var(--accent-color);
}

/* block socials */
.socials {
  width: 206px;
  margin: 0 auto;
}

.socials__list {
  display: flex;
  justify-content: space-between;
}

.socials__item {
  display: flex;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms linear;
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-text-color);
  transition: fill 250ms linear;
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: #ffffff;
}

.footer .socials__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .socials__link:hover {
  background-color: var(--accent-color);
}

.footer .socials__icon {
  fill: #ffffff;
}

.footer .socials {
  margin-left: 85px;
}

/* Site header */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.142;
}

.navigation-menu {
  display: flex;
}

.navigation-menu__link {
  display: inline-block;
  padding: 32px 0;
  color: var(--title-trxt-color);
  transition: color 250ms linear;
}

.navigation-menu__link:hover, .navigation-menu__link:focus {
  color: var(--accent-color);
}

.navigation-menu__item {
  position: relative;
}

.navigation-menu__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-contacts {
  display: flex;
  margin-left: 344px;
}

.navigation-contacts__item:not(:first-child) {
  margin-left: 50px;
}

.navigation-contacts__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  transition: color 250ms linear;
}

.navigation-contacts__link:hover, .navigation-contacts__link:focus {
  color: var(--accent-color);
}

.navigation-menu__link--active {
  color: var(--accent-color);
}

.navigation-menu__link--active::before {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.navigation-contacts__icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  fill: var(--primary-text-color);
  transition: fill 250ms linear;
}

.navigation-contacts__link:hover .navigation-contacts__icon {
  fill: var(--accent-color);
}

.portfolio-header {
  border-bottom: 1px solid #ececec;
}

.hero {
  padding: 200px 0;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.hero__title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  flex-basis: 270px;
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  color: var(--title-trxt-color);
}

.advantages__block {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
}

.advantages__icon {
  margin: 0 auto;
  width: 70px;
  height: 70px;
}

.activity {
  padding-top: 0;
}

.activity__list {
  display: flex;
  justify-content: space-between;
}

.activity__item {
  position: relative;
}

.activity__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  line-height: 1.142;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__box {
  padding: 30px 20px;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  color: var(--title-trxt-color);
}

.team__text {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
}

.team .socials {
  padding-bottom: 30px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  transition: border-color 250ms linear;
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: var(--primary-text-color);
  transition: fill 250ms linear;
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer .link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer .address-link {
  color: #ffffff;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .title {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.block-inform {
  display: flex;
  align-items: baseline;
  width: 50%;
}

.block-form {
  width: 50%;
}

.block-form input {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  padding: 15px 16px;
}

.portfolio-serv {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfolio-serv__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-serv__button {
  padding: 6px 25px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--title-trxt-color);
  background-color: #f5f4fa;
  transition: background-color 250ms linear, color 250ms linear, box-shadow 250ms linear;
}

.portfolio-serv__button:hover, .portfolio-serv__button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-pages {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.portfolio-pages__item {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-pages__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-pages__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-pages__item .element {
  position: relative;
  overflow: hidden;
}

.portfolio-pages__item .box {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-pages__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-trxt-color);
}

.portfolio-pages__text {
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-pages__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform, 250ms linear;
}

.portfolio-pages__item .element:hover .portfolio-pages__info {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
  cursor: pointer;
}

.modal__button-close svg {
  display: block;
  justify-content: center;
  align-items: center;
}

/* form */
.form__label {
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__con {
  position: absolute;
  top: 63%;
  left: 10px;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);
}

.form__input {
  padding-left: 40px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__label textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__input-check {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__label--checkbox {
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form__icon-checkbox {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.form__label--checkbox .checkgo {
  display: none;
}

.form__input-check:checked ~ .checkgo {
  display: block;
}

.form__button {
  display: block;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */