:root {
  --primary-text-color: #757575;
  --title-trxt-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: var(--title-trxt-color);
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding: 0 15px;
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.section-title {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Site header */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;

  color: #000000;
}

.nuv {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.142;
}

.menu-link {
  color: var(--title-trxt-color);
}

.contacts-link {
  color: var(--primary-text-color);
}

.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

/* hero */

.hero {
  padding: 200px 0;
  text-align: center;
  background-color: #2f303a;
}
.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero-button {
  padding: 10px 32px;
  cursor: pointer;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: #ffffff;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Advantages */

.advantages-item {
  width: 270px;
}

.advantages-title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;

  color: var(--title-trxt-color);
}

/* Our classes */

.classes {
  padding-top: 0;
}

.classes .section-title {
  margin-bottom: 50px;
}
/* Team */

.team .section-title {
  margin-bottom: 50px;
}

.item-img {
  margin-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;
  padding: 0 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;

  color: var(--title-trxt-color);
}

.team-text {
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 1.187;
}

/* Site Footer */

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer .link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer .logo,
.footer .address-link {
  color: #ffffff;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

/*-------- portfolio-page -------- */

/* Button services */

.portfolio-button {
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;

  color: var(--title-trxt-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* portfolio pages */

.service-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--title-trxt-color);
}

.service-text {
  font-size: 16px;
  line-height: 1.87;
}
