.header > .container {
  position: relative;
  padding: 15px 15px;

  @media screen and (min-width: 767px) {
    display: flex;
    align-items: center;
  }
}

.button-menu {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background-color: inherit;
  cursor: pointer;

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.button-menu .icon-cros {
  display: none;
}

.button-menu.is-open .icon-cros {
  display: block;
}

.button-menu.is-open .icon-menu {
  display: none;
}

// navigation
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-color: #ffffff;
  display: none;

  @media screen and (min-width: 767px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    padding: 0;
  }
}

.navigation-menu {
  @media screen and (min-width: 767px) {
    display: flex;
    margin-left: 87px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 92px;
  }
}

.navigation-menu__item:not(:last-child) {
  @media screen and (min-width: 767px) {
    margin-right: 51px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 53px;
  }
}

.navigation-menu__link {
  font-weight: 500;
  font-size: 40px;
  color: var(--title-trxt-color);

  @media screen and (min-width: 767px) {
    font-size: 14px;
  }
}

.navigation-contacts {
  @media screen and (min-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.navigation-contacts__item:not(:first-child) {
  margin-right: 30px;
}

.navigation-contacts__link--tel {
  font-size: 34px;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  @media screen and (min-width: 767px) {
    font-size: 12px;
  }
}

.navigation-contacts__link--mail {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  @media screen and (min-width: 767px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.navigation-contacts__icon {
  display: none;
}

.block-socials {
  margin-top: 64px;
  & .link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--accent-color);
  }

  & .link:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid var(--accent-color);

    @media screen and (max-width: 452px) {
      border: none;
      padding: 0;
    }
  }

  & .link:not(:first-child) {
    padding-left: 10px;
  }

  @media screen and (max-width: 452px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .link {
      border: none;
    }
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.navigation.is-open {
  display: flex;
}
